<h1>Contacts</h1>
<div >
	<form action="/" id="search">
		<input type="text" name="search">
		<input id="search-submit" type="submit" value="Search">
	</form>
</div>

<div id="container"></div>

<div >
  <form action="/" id="create">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name">

    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name">

    <label for="email">Email:</label>
    <input type="text" name="email">

    <input id="create-submit" type="submit" value="Submit"> 
  </form>
</div>
